RewriteEngine on

# if a directory or a file exists, use it directly
#如果不是文件，才会执行下一条RewriteRule
RewriteCond %{REQUEST_FILENAME} !-f
#如果不是目录，才会执行下一条RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
#正则表达式
RewriteRule . index.php